{% extends 'base.html'%}
{% block content %}
            
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="first">Game III</h1>
                </div>
            </div>

            <div class="row">
                
                <div class="col-lg-12">
                    <h2 class="second">Tear of my skin and I won’t cry but you will. What am I?</h2>
                </div>
            
            </div>
            
            <div class="row">
                
                <div class="col-md-12">
                    <form method="POST">
                        <input type="text" id="answer" name="answer"><button>Answer</button>
                    </form>
                </div>
                
            </div>
            
            <div class="row">
                
                <div class="col-md-2">
                    
                </div>
                
                <div class="col-md-4 card">
                    <p class="text-capitalize">Username: {{username}}</p>
                    <p>Attempts remaining: {{rem_attempts}}</p>
                    <p>Score: {{score}} </p>
                </div>
                
                <div class="col-md-4 card">
                    <div class="text-center">
                        <h4 class="mt-3">You Are Funny!!</h4>
                        {% for attempt in attempts %}
                        </p> {{ attempts }} </p>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="col-md-2">
                    
                </div>
                
            </div>
            
        </div>

{% endblock %}