{% extends 'base.html'%}
{% block content %}

        <div class="container">
            
            <div class="row">
                <div class="col-xl-12">
                    <h1 class="alpha">?hguonE tramS</h1>
                    <h2 class="beta">⅄on Ɔɐu Ɔouʇɹol ⅄onɹ ∀uƃǝɹ¿</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <h2 class="delta">Prove It By Winning All The Games!</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <form method="POST">
                        <input type="text" id="username" name="username" placeholder="Tell me your name">
                        <button>GO!!!</button>
                    </form>
                </div>
            </div>
            
        </div>

{% endblock %}